extends layout

block content

  
 div.ts.center.aligned.borderless.basic.huge.slate
 
  div.ts.compact.insetted.slate
   h2.ts.primary.header
    i.mini.fitted.setting.small.icon
    |&nbspWatering setting
     
   
   div &nbsp 
   div#plantbed 選擇植床 : 
    select.ts.basic.dropdown.size="3".multiple
     option 1 
     option 2
     option 3
     option 4
     option 5
     option 6
     option 7
     option 8
   div &nbsp
   div#mode 選擇模式 : 
    select.ts.basic.dropdown.size="3".multiple
     option 全程不斷水 
     option 移動時斷水   
   div &nbsp   
   div#wateramount 澆水量 : 
    select.ts.basic.dropdown.size="3".multiple
     option 多 
     option 中
     option 少