extends layout

block content
 div
  img(src='images/bed.png')(style='position:relative;left:13%;top:10px;z-index:1')
  img(src='images/plant.png')(style='position:absolute;top:30px;left:14%;z-index:2')
  img(src='images/plant.png')(style='position:absolute;bottom:10px;left:26%;z-index:2')
  
  img(src='images/bed.png')(style='position:relative;left:23%;top:10px;z-index:1')
  img(src='images/plant.png')(style='position:absolute;top:30px;left:43%;z-index:2')
  img(src='images/plant.png')(style='position:absolute;bottom:10px;left:56%;z-index:2') 


  
  img(src='images/bed.png')(style='position:relative;left:33%;top:10px;z-index:1')
  img(src='images/plant.png')(style='position:absolute;top:30px;left:73%;z-index:2')
  img(src='images/plant.png')(style='position:absolute;bottom:10px;left:86%;z-index:2')